**/.DS_store

.bloop
.bsp
.idea
.metals
old
project/.bloop
project/project
project/target
public
target
node_modules/
yarn.lock

.firebase/hosting.cHVibGlj.cache
firebase-debug.log

doc/dev_locally.md
tools
geckodriver
