* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* .page {
  justify-content: center;
} */

/* .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.logo {
  padding: 14px;
  text-align: left;
  background: white;
}

.logo table {
  border-collapse: collapse;
}

.logo table td {
  font-family: Ultra, serif;
  font-size: x-large;
  padding: 0;
  line-height: 20px;
}

.logo .symbol {
  color: #8ecdc5;
  font-size: large;
  padding-right: 4px;
}

.logo .dot {
  color: #e84327;
  text-align: center;
}

.logo .pronunciation a {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 16px;
  padding-left: 14px;
  text-decoration: none;
  color: #5285c5;
  line-height: 20px;
}

/* Style the top navigation bar */
.topnav {
  background-color: white;
}

/* Style the topnav links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
