* {
  color: #222222;
}

.logo {
  padding: 10px 5px 10px 20px;
  text-align: left;
}

.logo a {
  text-decoration: none;
}

.logo table {
  border-collapse: collapse;
}

.logo table td {
  font-family: Ultra, serif;
  font-size: x-large;
  padding: 0;
  line-height: 20px;
}

.logo .symbol {
  color: #8ecdc5;
  font-size: large;
  padding-right: 4px;
}

.logo .dot {
  color: #e84327;
  text-align: center;
}

.logo .pronunciation a {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 16px;
  padding-left: 10px;
  text-decoration: none;
  color: #5285c5;
  line-height: 20px;
}

.menu {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-sign-in-out {
  padding: 10px 20px 10px 0px;
}

.menu-item {
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin: 0px 30px 0px 30px;
  text-decoration: none;
}

.menu-item-sign-in-out {
  font-size: small;
  padding: 0px 0px 10px 0px;
  text-decoration: none;
}

.mobile-menu {
  font-family: 'Open Sans', sans-serif;
  border: 1px dotted lightgray;
}

.pipe {
  font-size: small;
  padding: 0px 10px 0px 0px;
  text-decoration: none;
}

.hamburger {
  margin: 0px 0px 15px 30px;
}

.greeting {
  text-align: center;
  font-size: x-small;
}

.greeting p {
  margin: auto;
}

.sign-in-providers {
  text-align: center;
}

.not-now {
  font-size: small;
  margin: auto;
  text-decoration: none;
}

.content {
  font-family: 'Open Sans', sans-serif;
  padding-left: 140px;
  padding-right: 140px;
  font-size: 20px;
}

.content .post-title {
  font-family: roboto-condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.content .post-date {
  font-size: 15px;
}

.content .post-comments {
  font-size: 15px;
}

.content .post-comments .header {
  font-weight: bold;
  font-size: 20px;
}

.content .button-bar {
  padding: 8px 0 0 0;
}

.content button {
  width: 120px;
}

.content hr {
  border-top: 1px dotted;
}

.app-hr hr {
  border-top: 4px dotted;
  margin: auto;
  width: 95%;
}

.no-decoration {
  text-decoration: none;
}

.w3-padding-8 {
  padding: 8px 0px 8px 0px;
}

@media all and (max-width: 768px) {
  .menu-item {
    margin: 0px 15px 0px 15px;
  }
}

@media all and (max-width: 600px) {
  .logo {
    padding: 10px 5px 10px 10px;
  }

  .menu-sign-in-out {
    padding: 10px 10px 10px 0px;
  }

  .menu-item {
    margin: 0px 20px 0px 20px;
  }

  .menu-item-sign-in-out {
    font-size: small;
    padding: 0px 0px 10px 0px;
    text-decoration: none;
  }

  .content {
    padding: 10px;
  }
}
